:8080

# Serve most files from Vite
reverse_proxy localhost:5173

# Forward certain paths to Django
@django path /api/* /admin /admin/* /static/* /accounts/* /email/*
reverse_proxy @django localhost:8000
