name: LikeHome Frontend CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm install

      - name: Compile typescript
        working-directory: ./frontend
        run: npx tsc

      - name: Generate frontend build files
        working-directory: ./frontend
        run: npm run build --if-present

#      - name: Run Jest unit tests
#        working-directory: ./frontend
#        run: npm test